a {
    text-decoration: none;
    color: #000;
}

.form-group {
    margin-bottom: 10px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li {
    margin-left: 20px;
}

.header ul li a {
    display: flex;
    align-items: center;
}

.header ul li a:hover {
    color: #777;
}

.header ul li a svg {
    margin-right: 5px;
}

.navcolor {
    background-color: gray;
}

.accordion-body {
    background-color: #f5deb3;
}

.pageBody {
    background-color: #808080;
}

.btn-primary {
    background-color: #7c8487;
    border: none;
}

.main-contain {
    background-color: 'gray';
}

.blurb {
    color: 'white';
}
